<mat-list>
    <div class="profile-card">
        <div class="header">
            <h2>Lickma doumbia</h2>
            <h4>lickmadoumbia@gmail.com</h4>
        </div>
        <img src="https://media.licdn.com/dms/image/C5603AQHrTL9zAQn9Mg/profile-displayphoto-shrink_800_800/0/1632049562360?e=2147483647&v=beta&t=ZsP4osf2sFQ5XWsatd11Aq01Ykwnh9Nq9fAfhU7YRZg" alt="Lickma doumbia">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contacts_phone</mat-icon>
        Leads
    </a>


</mat-list>